[submodule "pybind11"]
	path = submodules/pybind11
	url = https://github.com/pybind/pybind11
[submodule "googletest"]
	path = submodules/googletest
	url = git@github.com:google/googletest.git
[submodule "nlohmann-json"]
	path = submodules/nlohmann-json
	url = git@github.com:nlohmann/json.git
[submodule "submodules/CASMcode"]
	path = submodules/CASMcode
	url = git@github.com:prisms-center/CASMcode.git
[submodule "submodules/CLI11"]
	path = submodules/CLI11
	url = git@github.com:goirijo/CLI11.git
