[submodule "pybind11"]
	path = submodules/pybind11
	url = https://github.com/pybind/pybind11
[submodule "CASMcode-dev"]
	path = submodules/CASMcode
	url = git@github.com:goirijo/CASMcode-dev.git
[submodule "googletest"]
	path = submodules/googletest
	url = git@github.com:google/googletest.git
[submodule "CLI11"]
	path = submodules/CLI11
	url = git@github.com:CLIUtils/CLI11.git
[submodule "nlohmann-json"]
	path = submodules/nlohmann-json
	url = git@github.com:nlohmann/json.git
