[submodule "pybind11"]
	path = submodules/pybind11
	url = https://github.com/pybind/pybind11
[submodule "googletest"]
	path = submodules/googletest
	url = git@github.com:google/googletest.git
[submodule "CLI11"]
	path = submodules/CLI11
	url = git@github.com:CLIUtils/CLI11.git
[submodule "nlohmann-json"]
	path = submodules/nlohmann-json
	url = git@github.com:nlohmann/json.git
[submodule "submodules/CASMcode"]
	path = submodules/CASMcode
	url = git@github.com:prisms-center/CASMcode.git
[submodule "plugins/casm-utilities-primify"]
	path = plugins/casm-utilities-primify
	url = git@github.com:goirijo/casm-utilities-primify.git
[submodule "plugins/casm-utilities-super"]
	path = plugins/casm-utilities-super
	url = git@github.com:jonaskaufman/casm-utilities-super.git
